<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.ecu.cs.eventapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/pirateimage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.EventCardActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".controller.EventPagerActivity">
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>

        <activity android:name=".controller.ProfileDetailActivity"/>

        <activity android:name=".controller.CreateEventActivity" />

        <activity android:name=".controller.EventsListActivity"></activity>


    </application>

</manifest>